* { 
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h3 {
  display: flex;
  width: 100%;
  justify-content: center;
}

body {
  font-family: Arial, sans-serif;
  border: 1px solid black;
  margin: 1.5em;
  padding: 20px;
}

body * {
  margin: 5px;
}

input {
  padding: 8px;
  margin-bottom: 10px;
  width: 200px;
}

#masterpassword {
  width: 300px;
}

/* footer {
  ;
} */

/* label {
  text-decoration: underline;
  width: 500px;
} */

.faq {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.faq summary {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.faq summary:hover {
  background-color: red;
}

.faq-content {
  padding: 20px;
  /* max-height: 0; */
} 


details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0; margin-left: -10px}
  100%  {opacity: 1; margin-left: 0px}
}